@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Lexend+Deca&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Outfit:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Fraunces:opsz,wght@9..144,500;9..144,700&family=Lexend+Deca&family=Montserrat:ital,wght@0,200;0,300;0,500;1,200;1,300&family=Outfit:wght@400;700&display=swap');
.container{
    margin-left:550px;
    margin-top:120px;

}
body{
    background-color:hsl(212, 45%, 89%);
}
.container{
    background-color: hsl(0, 0%, 100%);
    width:350px;
    padding:20px;
    border-radius: 20px;
    box-shadow:0px 0px 0px 0px hsl(220, 15%, 55%);
}
.content{
    font-size:30px;
    font-family:'outfit';
    font-weight:700;

}
.scan{
    font-size:25px;
    font-family:'outfit';
    color:hsl(220, 15%, 55%);

}
img{
    height:350px;
    border-radius:10px;
}

@media(max-width:375px) {
    .container{
        margin-left:30px;
        margin-right:0px;
    
        width:250px;
        margin-top:100px;
        padding:15px;
    }
    img{
        height:250px;
    }
    .content{
        font-size:20px;
    }
    .scan{
        font-size:15px;
    }
}